<div
    id="app"
    {{ vue_component('App', {
        flashes: app.flashes()|json_encode,
        user: user_json,
        accessUrlId: access_url_id,
        languages: languages_json,
        breadcrumb: legacy_breadcrumb is defined ? legacy_breadcrumb : ''
    }) }}
></div>
